Pantheon/Robot/Pantheon/Service References/ServiceReference1/SmartReporter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartReporter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/hello?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/hello?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/hello?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReporter_ReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportData" />
  </wsdl:message>
  <wsdl:message name="IReporter_ReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReporter_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IReporter_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReporter_GetAllData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllData" />
  </wsdl:message>
  <wsdl:message name="IReporter_GetAllData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IReporter">
    <wsdl:operation name="ReportData">
      <wsdl:input wsam:Action="http://tempuri.org/IReporter/ReportData" message="tns:IReporter_ReportData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IReporter/ReportDataResponse" message="tns:IReporter_ReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsam:Action="http://tempuri.org/IReporter/GetData" message="tns:IReporter_GetData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IReporter/GetDataResponse" message="tns:IReporter_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <wsdl:input wsam:Action="http://tempuri.org/IReporter/GetAllData" message="tns:IReporter_GetAllData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IReporter/GetAllDataResponse" message="tns:IReporter_GetAllData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReporter" type="tns:IReporter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportData">
      <soap:operation soapAction="http://tempuri.org/IReporter/ReportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IReporter/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <soap:operation soapAction="http://tempuri.org/IReporter/GetAllData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartReporter">
    <wsdl:port name="BasicHttpBinding_IReporter" binding="tns:BasicHttpBinding_IReporter">
      <soap:address location="http://localhost:8080/hello" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>